.center {
    background: url("/src/assets/background.jpg");
    background-position: center;
    background-size: cover;
}

h1, p {
  color: #fffffe;
}


.btn {
  background-color: #a7a9be;
  font-weight: bold;
  color: #0f0e17;
}

.btn:hover {
  background-color: #ff8906;
  color: #0f0e17;
}

.auth{
  width: 90%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px auto;
  color: whitesmoke;
}

.auth__success{
  padding: 10px 0;
  background-color: hsl(147, 79%, 87%);
  margin-bottom: 20px;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  border-radius: 20px;
  margin-bottom: 20px;
}
