.verifyEmail {
  width: 90%;
  max-width: 300px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.verifyEmail > p{
  line-height: 25px;
  color: #ffffff;
}

.verifyEmail > span{
  color: #ffffff;
}
