.profile{
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background: rgba(255,255,255,0.15);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.profile p {
  text-align: center;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  background-color: #a7a9be;
  font-weight: bold;
  color: #0f0e17;
}

.button:hover {
  background-color: #ff8906;
  color: #0f0e17;
}